html {
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  html, body {
    transform: none !important;
    filter: none !important;
    perspective: none !important;
    backdrop-filter: none !important;
  }
}
